x-chatbot-app: &chatbot-app
  build:
    dockerfile: ./apps/chatbot/Dockerfile
  env_file:
    - .env
  environment:
    - NODE_ENV=production
    - CHROMA_HOST=chromadb
    - OLLAMA_BASE_URL=http://ollama:11434
    - RABBITMQ_URL=amqp://rabbitmq
    - STORAGE_DIR=/app/uploads
  volumes:
    - uploads:/app/uploads
  tty: true
  depends_on:
    chromadb:
      condition: service_started
    ollama:
      condition: service_started
    rabbitmq:
      condition: service_healthy

services:
  chromadb:
    image: chromadb/chroma
    ports:
      - '8000:8000'

  rabbitmq:
    image: rabbitmq:4.2.3-management-alpine
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      - RABBITMQ_ERLANG_COOKIE=a_very_long_secret_cookie_for_rabbitmq_4_0
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', '-q', 'ping']
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  ollama:
    build:
      dockerfile: ollama.Dockerfile
    ports:
      - '11434:11434'
    volumes:
      - ollama_data:/root/.ollama

  app1:
    <<: *chatbot-app

  app2:
    <<: *chatbot-app

  worker:
    <<: *chatbot-app
    build:
      dockerfile: ./apps/vector-db-worker/Dockerfile
    env_file:
      - .env

  nginx:
    build:
      dockerfile: nginx.Dockerfile
    ports:
      - '8080:80'
    environment:
      - SERVER_1=app1
      - SERVER_2=app2
    depends_on:
      - app1
      - app2

volumes:
  ollama_data:
  uploads:
